<div class="row">
  <div class="py-2 text-center">
    <h1>Teams</h1>
    <div class="teams-list pt-2">
      <% @teams.each do |team| %>
        <p class="pb-3"><%= link_to "#{team.name}", team, class: "primary-btn" %></p>
      <% end %>
    </div>

    <div class="pt-3">
      <%= link_to "Back", root_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>
