.form-control {
  background-color: white !important;
}

.form-actions-password .btn {
  color: #d4af37 !important;
  text-decoration: underline !important;
}

.form-text {
  color: $light-grey !important;
}

.form-check-input {
  background-color: white !important;
}
