.driver-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.align-left {
  justify-content: flex-start;
}

.align-right {
  justify-content: flex-end;
}

.car-image img {
  width: 60px;
  height: auto;
}

#light-container {
  justify-content: center;
}

.light {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.light-on {
  display: none;
}
