// Specific CSS for your home-page
body {
  background-color: $dark-blue;
  color: $gold;
  background-image: url("ORM_bg3.jpg");
  height: cover;
}

.game-title h1 {
  font-size: 40px;
}

.game-title h2 {
  font-size: 22px;
}
