.new-race-form {
  text-align: start;
  label {
    font-family: 'Bruce Forever';
    background-image: transparent;
    color: #E7E7E7;
  }
  input, select {
    font-family: 'Bruce Forever';
    background-image: transparent;
    color: #5d5d5d;
  }
}
