.form-control {
  background-color: white;
}

.form-control:focus {
  background-color: white;
}

.form-actions-password .btn {
  color: #d4af37;
  text-decoration: underline;
}

.form-text {
  color: $light-grey;
}

.form-check-input {
  background-color: white;
}

.form-select {
  background-color: white;
}
