// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/form_colors";
@import "config/navbar";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

.btn-info {
  color: $dark-blue;
}

.btn-warning {
  --bs-btn-color: #e67e22;
  --bs-btn-bg: #e67d2200;
  --bs-btn-border-color: #e67e22;
}

a {
  color: white;
  text-decoration: underline;
}
